PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/database
JWT_SECRET=votre_cle_secrete_super_securisee
ADMIN_PASSWORD=1234
ADMIN_EMAIL=admin@test.com
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Admin